html, body
{
    margin: 0;
    padding: 0;
}

nav
{
    width: 100%;
    height: 70px;
    background-color: #2b2b2b;
    padding-left: 10%;
    padding-top: 15px;
}

header
{
    width: 100%;
    height: 500px;
    background-color: lightgrey;
    background-image: url("../assets/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

section
{
    margin-top: 100px;
    text-align: center;
}

footer
{
    width: 100%;
    height: 150px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 3%;
    margin-top: 10%;
}

h1
{
    font-size: 65px;
    font-family: 'Anton', sans-serif;
}

.logo
{
    width: 200px;
    float: left;
    font-weight: bold;
    color: white;
    font-family: 'Rubik Iso', cursive;
}

.nav-con
{
    width: 720px;
    height: 50px;
    float: right;
}

.nav-con ul
{
    list-style: none;
}

.nav-con li
{
    float: left;
    width: 110px;
    height: 35px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
}

.nav-con li:hover
{
    background-color: black;
    color: white;
    cursor: pointer;
}

.active
{ 
    background-color: red !important;
    color: white;
}

.button-group
{
    width: 400px;
    height: 50px;
}

.button
{
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    float: left;
    margin-top: 15px;
    border-radius: 5px;
    margin-right: 10px;
}

.watch
{
    color: white;
    border: 2px solid white;
    font-weight: bold;
    
}

.watch:hover
{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding-top: 5px !important;
}

.update
{
    border: 2px solid black;
    font-weight: bold;
}

.update:hover
{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid black;
    padding-top: 5px !important;
}

.overlay
{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 10%;
    padding-top: 100px;
}

.sign
{
    width: 100%;
    height: 100px;
    background-color: grey;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.round-image
{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background-image: url("../assets/hands.jpg");
    background-size: cover;
    background-position: center;
}

.text
{
    padding-top: 100px;
    padding-right: 8%;
}

.text h3
{
    font-size: 25px;
    font-style: italic;
}

.round
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.col-3
{
    text-align: center;
    padding-left: 60px;
    width: 23%;
}

.col-3 p
{
    margin: 20px;
}


.more
{
    width: 150px;
    color: white;
    border: 2px solid black;
    background-color: black;
    margin-left: 60px;
}

.more:hover
{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding-top: 5px !important;
}

.col-box
{
    width: 90%;
    height: 400px;
    background-color: lightgrey;
    margin-top: 50px;
}


.col-6
{
    width: 45%;
    margin-left: 5%;
}

.data p
{
    padding-right: 170px;
}

.data h3
{
    margin-top: 20px;
}

.visit
{   
    width: 800px;
    margin-left: 25%;
}

.pht 
{
    background-image: url("../assets/old_eleven.png");
    background-size: cover;
    background-position: center;
}

.pht2
{
    background-image: url("../assets/old_mike.png");
    background-size: cover;
    background-position: center;
}

.pht3
{
    background-image: url("../assets/old_dustin.png");
    background-size: cover;
    background-position: center;
}

.pht4
{
    background-image: url("../assets/zombie.jpg");
    background-size: cover;
    background-position: center;
}

.image-con img
{
    width: 50px;
}